.card {
  background: var(--secondary-color);
}

input {
  &[type=text],
  &[type=email] {
    width: 100%;
  }
}

.subs-text {
  width: 500px;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
