<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img src="https://images.pexels.com/photos/415980/pexels-photo-415980.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="" />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center mx-2">Featured</small>
          <small class="bg-light text-info text-center mx-2"
            >Views - 100,256</small
          >
          <small class="bg-light text-warning text-center mx-2"
            >LAST UPDATED - Feb 21, 2023</small
          >

          <h1 class="mt-3 mb-3">HOW TO START A BLOG IN 2023</h1>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam
            architecto cupiditate ullam et hic quasi nostrum, nam maxime sed eum
            voluptatibus dolores placeat tenetur, aperiam fuga quaerat? Repellat
            in officia voluptatem nisi atque obcaecati soluta rerum, eius earum
            repellendus labore pariatur architecto tenetur impedit ad corrupti
            perferendis eaque doloribus adipisci laborum consequatur. Optio
            deserunt libero, at enim distinctio doloremque delectus facere
            voluptatem soluta totam, nihil repellendus eum, modi quas nostrum
            ratione sunt sequi nam vitae cumque nesciunt. Voluptate est totam,
            nobis autem porro ipsa nesciunt unde pariatur illo quod asperiores
            iure, ipsam dolorum vel itaque accusamus possimus eos veniam cumque.
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
