<div class="card">
    <img src="https://images.pexels.com/photos/15286/pexels-photo.jpg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200" alt="dummy image" class="card-img-top">

    <div class="card-body">
        <small class="bg-light text-danger text-center">Design</small>
        <small class="bg-light text-danger text-center">Featured</small>
        <small class="bg-light text-danger text-center">Views - 100,256</small>
        
        <h5 class="mt-1">HOW TO START A BLOG IN 2023</h5>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt, iure quae! Amet, sunt impedit officia ducimus libero voluptatem corporis. Quod?</p>
        
        <small class="bg-light text-danger text-center">LAST UPDATED - Feb 12 2023</small>

    </div>
</div>